

#pages {
	text-align:center;
	margin:0;
}

#pages li {
	display:inline-block;
	margin:10px;
	padding:5px;
	position: relative;
}

#pages li img {
	height:auto;
	display:block;
}

#pages li.has-parts img { }

#pages li div.controls {
	/*position:relative;
	height:22px;
    top:-29px;*/
    margin-top:5px;
    text-align: left;
}

#pages li .controls span, #pages li div.controls i {
	display:inline-block;
	padding:0 10px;
	text-align:center;
	line-height:22px;
	vertical-align: middle;
	border-radius:3px;
	
	cursor:default;
}

#pages li .controls span {
	font-size:10px;
	background:#fff;
	border:1px solid #d8dcdf;
	position: absolute;
    top: 3px;
    left: 3px;
    color: #bbb;
}

#pages li.enabled .controls span {
	color:green;
	background: 
}

#pages li div.controls i {
	cursor:pointer;
	border:1px solid #d8dcdf;
}

#pages li div.controls i:hover {
	border:1px solid #3174de;
	color:#3174de;
}

#pages li div.controls i.btn-delete {
	float:right;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float:none;
	margin-left:.6em;
}

.dialog { display:none }
.dialog .control { margin:1em .4em 0 0; }

.dialog .control label,
.dialog .control input,
.dialog .control textarea {
	display:block;
	vertical-align:bottom;
}

.dialog .control label input[type=checkbox] {
	display:initial;
	width:auto;
	zoom:1.5;
}

.dialog .control input,
.dialog .control textarea {
	background:white;
	padding:.4em;
	width:98%;
}

.dialog .control textarea { height:10em; }

/* PATHS */

#toolbar {
	margin:70px 0 30px 0;
	border-bottom:2px solid #ddd;
	padding-bottom:30px;
}

.ui-widget {font-family:inherit; font-size:inherit; font-weight:normal;}

#canvas-position { position:relative; left:50%; top:50%; }
#canvas-wrapper { position:relative; }

#parts {
	float:left;
	width:50%;
	margin-left:50%;
}

#text-wrapper {
	position:relative; /* это для того, чтобы другие div не перекрывали этот элемент */
	z-index:100;
}
#text {
	font-size:14pt;
	color:#333;
}

.part-control-wrapper {
	padding:5px 10px 1px 10px;
	margin:10px 20px 40px 0;
	border-radius:6px;
	font-size:90%;
}

.part-control-wrapper .txt p {margin-bottom:10px;}

.part-control-wrapper .tb { padding:5px 0; font-size:13px; width:100%; }
.part-control-wrapper .tb button { margin-right:10px; }
.part-control-wrapper .tb .btn-delete { float:right; margin-right:0; }

.highlight { background:#cfe1e1; }

.part-control-wrapper textarea {
	width:100%;
	height:150px;
    font-size:.8em;
    display:block;
    line-height:160%;
    padding:5px 0 5px 5px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#page {
	left:0;
	top:30px;
	bottom:0;
	width:50%;
	position:fixed;
}


#editor {
	display:none;
	background:#ddd;
	position:fixed;
	width:40%;
	height:100%;
	top:0;
	right:0;
	z-index:1000;
}

#editor .wrapper {
	padding:20px;
	height:75%;
}

#help {
	font-size:32px;
	opacity:.7;
	display:none;
}